/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font: 16px/28px arial, sans-serif;
    background-color: #eaeaea;
}

.container {
    width: 960px;
    margin: 80px auto;
    position: relative;
}

.facebook {
    width: 200px;
    height: 200px;
    background-image: url(https://freepngimg.com/thumb/facebook/62557-facebook,-computer-facebook-inc.-icons-download-hq-png-thumb.png);
    background-repeat: none;
    display: inline-block;
    position: absolute;
    top: 80px;
    right: 0;

}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

/* Header */
.header {
    padding: 10px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #3ff;
    z-index: 999;
    justify-content: center;
}

.header .left {
    float: left;
}

.header .right {

    float: right;
}

.header .judul {
    font-size: 40px;
    font-weight: bold;
}

.header ul li {
    display: inline-block;
    font-size: 12px;
    text-align: center;
}

.header a {
    text-decoration: none;
    color: blue;
}

.header a:hover {
    color: salmon;
    background-color: lightblue;
    padding: 10px;
}

/* hero */
.hero {
    margin-top: 100px;
    height: 250px;
    background-image: url('https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Y29tcHV0ZXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
    background-position: 0 -200px;
    border-radius: 10px;
}

.hero .headline {
    position: absolute;
    margin-left: 50px;
    margin-top: 100px;
}

.hero .description {
    position: absolute;
    margin-left: 50px;
    margin-top: 140px;
}


.hero .headline h3 {
    font-size: 28px;
    font-weight: bold;


}

.hero .description p {
    font-size: 20px;
    font-weight: bold;
}

/* Main */
.content {
    width: 600px;
    padding: 20px;
    box-sizing: border-box;
    float: left;
}

.content h2 {
    font-size: 28px;
    font-weight: bold;
}

.content .penulis {
    font-size: 12px;
    margin-top: -5px;
}

.content a {
    text-decoration: none;
    color: blue;
}

.content p {
    margin-bottom: 20px;
    font-size: 14px;
}

.sidebar {
    width: 300px;
    float: right;
    padding: 20px;
}

.sidebar .desc {
    font-size: 12px;
}

.sidebar h3 {
    font-weight: bold;

}

.sidebar img {
    width: 50px;
    height: 70px;
    padding-right: 10px;
    float: left;
}


/* Footer */
.footer {
    width: 100%;
    background-color: #333;
    position: absolute;
    right: 0;
    left: 0;
}

.footer .copy {
    color: #eaeaea;
    text-align: center;
    font-size: 16px;
    padding: 10px;
}


/* Clear Fix */
.cf:before,
.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}